.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .canvas-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    canvas {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
